# Dependency directories
node_modules/

# VuePress generation
docs/.vuepress/.temp
docs/.vuepress/.cache
docs/.vuepress/dist
docs/.vuepress/public

# Obsidian
.obsidian/
.trash/

# System
.DS_Store
Thumbs.db
